[submodule "PlatformService"]
	path = src/microservices/PlatformService
	url = https://github.com/nooneknowspeter/dotnet-platforms-microservice.git
[submodule "CommandsService"]
	path = src/microservices/CommandsService
	url = https://github.com/nooneknowspeter/dotnet-commands-microservice.git
